@charset "UTF-8";

:root{
    --cor0:#FA7F08;
    --cor1:#F24405;
    --cor2:#348888;
    --cor3:#22BABB;
    --cor4:#9EF8EE;
    --cor5:#8FC1B5;

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;

    --fonte-destaque:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8FC1B5;
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, #FA7F08,#F24405);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: white;
    margin-bottom: 30px;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.733);
}

header > p{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px
}

nav{
    background-color:#027e4c;
    padding: 15px;
    box-shadow:  0px 7px 7px rgba(0, 0, 0, 0.363);;
}

nav > a{
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
    font-weight: bold
}

nav > a:hover{
    background-color: #095738;
    text-decoration: underline;
}